<!--Nav bar-->
<div class="container">

<nav class="navbar navbar-light bg-light" >
  <a class="navbar-brand" href="#">Qubz</a>
  <i class="fas fa-user"></i>
</nav>


    <!-- Sidebar -->
    <nav id="sidebar" style="float: left;">
        <div class="sidebar-header">
        </div>
  
        <ul class="list-unstyled components">
            <li>
              <a href="#">Home</a>
          </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Data Ingestions</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">MySQL</a>
                    </li>
                    <li>
                        <a href="#">PostgreSQL</a>
                    </li>
                    <li>
                        <a href="#">Excel</a>
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Data Sources</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                    <a href="#">MySQL</a>
                </li>
                <li>
                    <a href="#">PostgreSQL</a>
                </li>
                <li>
                    <a href="#">Excel</a>
                </li>
                </ul>
            </li>
            <li>
                <a href="#">DashBoard</a>
            </li>
            
        </ul>
    </nav>
  
  <!-- Content -->
  <div class="row">
    <div class="col">
      <h1 class="h3" >Data Ingestions</h1>

    </div>
  </div>

    <div class="row">

      <div class="col">
      
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by config. name/description" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">Search</span>
        </div>
      </div>
    </div>
      <div class="col">

        <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Ingest</button>
      </div>
</div>

  <div class="row">
    <div class="col">
      <p>Ingestion Type</p>

    </div>
    <div class="col">
      <div class="btn-group">
        <button class="btn btn-light btn-lg" type="button">
          All
        </button>
        <button type="button" class="btn btn-lg btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">All</a>
          
        </div>
      </div>
   
    </div>
  </div>
    <!--Progress bars-->

  <div class="row">
    <div class="col">
      <p><a href="#">In progress(6)</a></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
   
    <div class="col">
      <p><a href="#">Pending(2)</a></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="col">
      <p><a href="#">Paused(1)</a></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="col">
      <p><a href="#">Error(2)</a></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="col">
      <p><a href="#">Completed(5)</a></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  
    <div class="col">
      <p><a href="#">Discarded(2)</a></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <!--Cards-->
  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">ABC</h5>
          <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h6>
          <p class="card-text">RDBMS</p>
          <p class="card-text">80% completed</p>

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="card-link" class="text-primary">View Details</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">ABC</h5>
          <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h6>
          <p class="card-text">Streaming Data</p>
          <p class="card-text">2,560 Records Ingested</p>

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 66%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="card-link" class="text-primary">View Details</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">ABC</h5>
          <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h6>
          <p class="card-text">RDBMS</p>
          <p class="card-text">47% completed</p>

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 47%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="card-link" class="text-primary">View Details</a>
        </div>
      </div>
  </div>
    
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">ABC</h5>
          <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h6>
          <p class="card-text">RDBMS</p>
          <p class="card-text">95% completed</p>

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="card-link" class="text-primary">View Details</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">ABC</h5>
          <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h6>
          <p class="card-text">Streaming Data</p>
          <p class="card-text">1,233 Records Ingested</p>

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="card-link" class="text-primary">View Details</a>
        </div>
      </div>
    </div>
   
    <div class="col">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">ABC</h5>
          <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h6>
          <p class="card-text">RDBMS</p>
          <p class="card-text">25% completed</p>

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="card-link" class="text-primary">View Details</a>
        </div>
      </div>
    </div>
    
    

  </div>
   
  
    
  


  </div>